body {
	background-image: url(https://images.unsplash.com/photo-1482434368596-fbd06cae4f89?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c29b9baf9f1e75fa88c392c61973e2dd&auto=format&fit=crop&w=1534&q=80);
	background-size: cover;
	background-position: center;	
	font-family: 'Lato';
	color: white;
	background-repeat: no-repeat;
}
#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 16px 23px rgba(0,0,0,0.1);
}

html {
	height: 100%;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}