<div style="background-color:rgb(255, 255, 255)">
    <div class="mx-4">
        <br/>
        <h2 class=" float-left ">Your favorites</h2>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div *ngFor="let card of FavoriteCards" class="col-lg-3 col-md-4 col-sm-6">
            <a routerLink="/learn/myFavoriteCollection/{{card._id}}">
                <app-card [cardTitle]="card.title" [avatar]="card.avatar" [typeAvatar]="card.typeAvatar"></app-card>
            </a>
        </div>
        <h4 class="mx-5" style="color: red" *ngIf="!logedIn">Hãy đăng nhập để sử dụng tính năng này</h4>
    </div>

    <div class="mx-4">
            <br/>
            <h2 class=" float-left ">All cards</h2>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div *ngFor="let card of Cards" class="col-lg-3 col-md-4 col-sm-6">
                <a routerLink="/learn/collection/{{card._id}}">
                    <app-card [cardTitle]="card.title" [avatar]="card.avatar" [typeAvatar]="card.typeAvatar"></app-card>
                </a>
            </div>
        </div>
</div>