p{
    padding: 0px;
    margin: 0px;
  font-size:40px;
  background-color: blanchedalmond;
  text-align: center;
  vertical-align: initial;
  line-height: 350px;
}
img{
  width:350px; 
  height:350px;
}