
/* CSS form login */

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button-submit {
    background-color: #1caff6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.title-form{
    text-align: center;
}
.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}