*:focus {
    outline: none;
    box-shadow: none !important;
    border-color: transparent !important;
}

body {
    background-color: #f7f7f7;
}

.jumbotron {
    background-color: white;
}

.bg-primary {
    background-color: #32cdff !important;
}

ul a {
    color: white;
}

    ul a:hover {
        color: #8fdef7;
    }

div form input {
    width: 14rem !important;
    border-radius: 8px !important;
    font-weight: bold;
    background-color: #6ad8fc !important;
    border: none !important;
}

    div form input:focus {
        background-color: white !important;
        font-weight: normal;
    }

    div form input::placeholder {
        color: #eaf4f9 !important;
    }

.clicked {
    border-bottom: 1px solid white;
    font-weight: bold;
}

ul li:nth-of-type(2) a:hover {
    color: white !important;
}

.cap {
    color: white;
    padding-left: 40px;
}

    .cap h1 {
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 50px;
    }

.card {
    width: 60%;
    border: hidden;
    box-shadow: 0 2px 9px rgba(0,0,0,.1);
    border-radius: 18px;
}

    .card img {
        border-radius: 18px
    }

h1, p, footer, h4, h4 + a {
    text-shadow: 0px 1px 1px rgba(0,0,0,0.05), 0px 1px 1px rgba(0,0,0,0.05), 0px 1px 1px rgba(0,0,0,0.05);
}

    h4 + a:hover {
        color: #29b7e5;
        text-decoration: none;
    }

#carouselExampleIndicators, .jumbotron {
    border-radius: 18px !important;
}

.carousel-indicators .active {
    background-color: rgb(0, 0, 0) !important;
}

.carousel-indicators li {
    background-color: rgb(128, 128, 128) !important;
}

footer {
    text-align: center;
    font-size: 14px;
}
    footer a {
        color: #b5b6b7;
    }

        footer a:hover {
            color: #b5b6b7;
        }
a, #language {
    color: #32cdff;
    font-weight: bold !important;
    text-decoration: none !important;
}

.author {
    color: #e3ecf1;
    font-weight: normal !important;
}


.card-title {
    font-size: 14px;
    color: #878787;
    letter-spacing: 0.2px;
}

.card-info {
    color: #c9cacc;
    font-weight: bold;
}

.card-img-top, .jumbotron {
    box-shadow: 0 2px 9px rgba(0,0,0,.1);
    border-radius: 18px;
}

.content-card {
    box-shadow: none;
}

div div div a img {
    height: 170px;
}

.fa-chevron-left,
.fa-chevron-right {
    color: #0cbef7;
    font-size: 25px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
