<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/ionicons@4.0.0/dist/css/ionicons.min.css"rel="stylesheet"/>

</head>
<body>
  <app-navigation-bar></app-navigation-bar>
<div class="main">
    <br/>
    <!-- <i class="icon ion-md-add"></i> -->
    <br/> 
  <div class="container my-4">
    <router-outlet></router-outlet>
   </div>

</div>
</body>
</html>

