.header-main{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.luyen_tap{
    margin: 30px auto;
}
.luyen_tap>a{
    
    padding: 10px;
    text-decoration: none;
    color: #777777;
    border: 2px solid #AAA;
    border-radius: 25%;
    font-weight: bold;
}
.luyen_tap>a:hover{
    color: #333;
}

.left{
    background-color: #FFF;
    margin-bottom: 15px;
    padding: 15px;
}
.target>a{
    text-align: center;
}