<div class="container mt-4">
  <div class="row">
    <!-- user info -->
    <div class="col-md-4 mt-5">
      <div class="row  mx-auto">
        <div class="col-xs-4 mx-auto">
          <img class="d-block d-md-none rounded-circle mt-1" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image" width="90px" height="90px">
          <img class="d-none d-md-block d-xl-none rounded-circle mt-4" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image" width="130px" height="130px">
          <img class="d-none d-xl-block rounded-circle mt-5" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image" width="150px" height="150px">
        </div>
        <div class="col-xs-8 mx-auto mt-2">
          <h4 style="text-align:center">User's Name</h4>
          <p class="ml-3 float-left mt-2">Followers:
            <span class=" badge badge-light">6</span>
          </p>
          <p class="mr-3 float-right mt-2">Following:
            <span class=" badge badge-light">6</span>
          </p>

        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <button type="button" class="btn btn-lg btn-block mt-3">
            <span class="ion-ios-gear-outline"> SETTINGS</span>
          </button>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-lg mt-3">
            <span class="ion-ios-upload-outline"></span>
          </button>
        </div>
      </div>

    </div>

  </div>
</div>
