/* .container {
	margin-top: 60px;
} */
.row {
	margin-top: 64px;
}
.frame1 {
	width: 240px;
	height: 488px;

}
.col-md-8 {
	background: pink;
}
.mn_1 {
	margin-top: 60px;
}
.col {
	margin-left: 60px;
}
