




<div class="container">
  <div class="row mt-3">
    <h1 class="display-4">Chỉnh sửa bộ thẻ</h1>
  </div>
  
  <div class="row mt-3">
    <ngb-alert class="text-center" *ngIf="message" type="danger" [dismissible]="true" (close)="message = ''">
        <strong>Lỗi!</strong> {{ message }}
    </ngb-alert>
  </div>
  <div class="row my-3">
    <div class="input-group input-group-lg">
      <input class="form-control" type="text" [(ngModel)]="title" id="title" placeholder="Tiêu đề">
    </div>
  </div>

  <div class="row my-3">
    <div class="input-group input-group-lg">
      <input class="form-control" type="text" [(ngModel)]="description" id="description" placeholder="Mô tả">
    </div>
  </div> 

  <div class="row mt-2 mb-4">
    <button class="btn btn-success mr-2" (click)="saveChanges()">Lưu lại</button>
    <button class="btn btn-dark mr-5" routerLink="/view/{{ deckId }}">Huỷ bỏ</button>
    <button class="btn btn-danger" routerLink="/dashboard" (click)="deleteDeck()">Xoá bộ thẻ</button>
  </div>
  
  <hr>

  <div class="row mt-4">
    <h1 class="lead">Thêm thẻ mới</h1>
  </div>

  <div class="row mt-2">
    <div class="input-group">
        <input class="form-control" [(ngModel)]="newFront" type="text" id="front" placeholder="Mặt trước">
        <input class="form-control" [(ngModel)]="newBack" type="text" id="front" placeholder="Mặt sau">
        <button class="btn btn-info ml-2" (click)="addCard()">Thêm</button>
    </div>
  </div>

  <div class="row mt-4 mb-2">
      <h1 class="lead">Chỉnh sửa thẻ đã tạo</h1>
  </div>

  <ng-container *ngFor="let card of this.allCards">
    <div class="row mt-2">
      <div class="input-group">
        <input class="form-control" [(ngModel)]="card.front" type="text" id="front" placeholder="Mặt trước">
        <input class="form-control" [(ngModel)]="card.back" type="text" id="back" placeholder="Mặt sau">
        <button class="btn btn-danger ml-2" (click)="deleteCard(card)">Xoá</button>
      </div>
    </div>
  </ng-container>

  <div class="row mb-5"></div>
  
</div>