/* Override bootstrap */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #32cdff !important;
    background-color: transparent !important;
    font-weight: bold;
    border-left: 3px solid #32cdff;
    box-sizing: border-box;
}
.nav-pills .nav-link {
    border-radius: 0 !important;
    font-weight: bold;
    color: #c4c4c4;
    border-left: 3px solid transparent;
    line-height: 40px;
}
.nav-pills .nav-link:hover {
    color: #646464;
}

.tab-content .form-control {
    border: 1px solid transparent;
    border-bottom: 2px solid #c4c4c4;
    border-radius: 0 !important;
}

.tab-content .form-control:focus {   
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(126, 239, 104, 0);
  /* outline: 0 none; */
  border-bottom: 2px solid #32cdff;
}

.tab-pane .form-group > label:first-child{
    color: #c4c4c4 !important;
    font-weight: bold;
    margin-bottom: 15px;
}

input[type="password"] {
    border: 1px solid transparent;
}
input[type="password"]:focus {
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(126, 239, 104, 0);
}
