<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Tiny Card - Nhom 4</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- icon -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
<body>
<div class="my-5">
  <navigation-bar></navigation-bar>
</div>
<div class="container">
  <div class="clearfix">
    <!-- small screen -->
    <div class="d-block d-sm-none">
      <h4 class="float-left" style="font-size:95%">Your favorites</h4>
      <a class="btn btn-primary float-right" href="#" role="button" style="font-size:60%">SEE ALL</a>
    </div>
    <!-- medium screen -->
    <div class="d-sm-block d-none d-md-none">
      <h3 class="float-left ">Your favorites</h3>
      <a class="btn btn-primary float-right" href="#" role="button" style="font-size:85%">SEE ALL</a>
    </div>
    <!-- lagre screen -->
    <div class="d-md-block d-none">
      <h2 class=" float-left ">Your favorites</h2>
      <a class="btn btn-primary float-right" href="#" role="button" style="font-size:100%">SEE ALL</a>
    </div>
  </div>
  <div class="row">
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
    <app-cards></app-cards>
  </div>
</div>
</body>
</html>