<footer class="mb-3 mt-5 pt-3">
    <a href="/press" class="m-4">ABOUT</a>
    <a href="" class="m-4">SUPPORT</a>
    <a href="" class="m-4">TERMS</a>
    <a href="" class="m-4">DUOLINGO</a>
    <a href="" class="m-4">FACEBOOK</a>
    <a href="" class="m-4">TWITTER</a>
    <a href="" class="m-4" id="language">
        <img src="/imgs/english.png"> ENGLISH
    </a>
</footer>