.jumbotron {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  background-image:url("animals.png");
  background-size: cover;
  background-color: blueviolet;
  height: 400px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
section .row img {
  margin: 0 0 30px;
  width: fit-content;
  height: 100%;
}
body {
  min-height: 1000px;
  padding-top: 100px;
}