.container-fluid{
	
}
header{
	border-bottom: solid 1px #090909;
	padding-top: 10px;
	padding-bottom: 130px;
	padding-left: 0px;
	padding-right: 0px;
	background: #32cdff;
}
.navbar-default{
	background: #32cdff;
	border: none;
}
.navbar-nav > li > a{
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 15px;
	text-transform: lowercase;
	
	
	
}
.navbar-nav{
	padding-top: 20px;
}
.a{
	padding: 30px 0;
	border-bottom: solid 1px #090909;
}

.b{
	padding: 20px 0;
	border-bottom: solid 1px #090909;
}
.c{
	padding: 50px 0;
	border-bottom: solid 1px #090909;
}

.fix{
	padding: 20px 0;
	border-bottom: solid 1px #090909;
}
.fixx{
	padding: 20px 0;
	border-bottom: solid 1px #090909;
}
.d{
	padding: 30px 0;
}
.e{
	padding: 30px 0;
	border-bottom: solid 1px #090909;
}