<div *ngIf="!isCompleted">
    <div id="viewCards" *ngIf="isViewing">
        {{ viewingCard.front }} - {{ viewingCard.back }}
        <button (click)="nextCard()">Next</button>
    </div>

    <div id="checkCards" *ngIf="!isViewing">
        <div>
            {{ question }}
        </div>
        <div>
            <input [(ngModel)]="userAnswer" type="text" aria-label="Large">
        </div>
        <div>
            <h3>{{ userAnswer }}</h3>
            <button (click)="checkAnswer()">Submit</button>
        </div>
    </div>
</div>
<div id="complete" *ngIf="isCompleted">
    <p>Complete!</p>
    <button (click)="saveData()">ok</button>
</div>