<div class="container-fluid" [style.margin-top.px]="100">
  <div class="row">
    <!-- Left-side panel -->
    <div class="col-md-4 text-center mt-4">
      <div class="row">
        <!-- Avatar -->
        <div class="col-md-12">
          <img src="./../../assets/images/avatar.jpg" alt="Avatar" class="rounded-circle" style="height: 120px;">
        </div>
        <!-- Name, username, action buttons -->
        <div class="col-lg-12 mt-3">
          <p style="font-weight: bold; font-size: 18px;">Yellow Teeth</p>
          <a href="#">@YellowTeeth</a>
          <hr>
        </div>
      </div>
    </div>
    <!-- Right-side panel -->
    <div class="col-md-6 mt-4">
      <!-- Tab-bar -->
      <!-- <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#decks" role="tab">Decks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#followers" role="tab">Followers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#following" role="tab">Following</a>
        </li>
      </ul> -->
      <!-- Tab-content -->
      <ul *ngFor="let i of cards" [style.list-style]="'none'">
        <li >
          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{i.getWord()}}</h5>
              <p class="card-text">{{i.getMeaning()}}</p>
            </div>
          </div>

        </li>
      </ul>
      <!-- <div class="tab-content border border-top-0 rounded-bottom p-3" style="background: #ffffff;">
        <div class="tab-pane fade" id="decks">

        </div>
      </div> -->
    </div>
  </div>
</div>
