<% include partials/header%>

<h1>This is the homepage</h1>

<img src="http://i2.imacdn.com/ta/2018/03/01/591a2a5a06fbb468_007fac45600e11b1_10885415199008699143215.jpg"
     alt="zero two img">

<% include partials/footer%>