<% include partials/header%>

<h1>You fell in love with: <%= thing %></h1>

<% if (thing.toLowerCase() === 'zero-two') {%>
    <p>You wished!</p>
<% } else{ %>
    <p>That fits you more!</p>
<% } %>
<p>P.S. this is the love.ejs file!</p>

<% include partials/footer%>