<div class="container" style="margin-top: 100px">
  <ngb-alert class="text-center" *ngIf="notification" type="danger" [dismissible]="true" (close)="notification = ''">
      <strong>Lỗi!</strong> {{ notification }}
  </ngb-alert>
  <div class="border border-primary rounded bg-light clearfix" >
    <div class="row justify-content-center" style="margin-top: 50px; height: 300px ">
      <form (submit)="logIn($event)">
        <div class="form-group">
          <label>Tài khoản</label>
          <input type="text" id="username"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" id="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="text-center">
          <button type="submit" style="margin-right.px: 30" class="btn btn-success">Đăng nhập</button>
          <br>
          <br>
          hoặc nhấn vào đây để <button type="button" routerLink="/register" class="ml-2 btn btn-info">Đăng ký</button>
        </div>
      </form>
    </div>
  </div>
</div>