.a{
	border-radius: 18px;
}
.xyz{
	background-color: #F5F5F5;
	border-radius: 10px;
	width: 144px;
	height: 178px;
	text-align: center;
	padding: 10px;
	top: 10%;
	cursor: pointer;
}
.mnp{
	color: #5c5c5c;
	font-family: DINNextRoundedLTPro-Bold,sans-serif;
	width: 100%;
	font-size: 40px;
	top: 10%;
	position: absolute;
}
.rounder{
	border-radius: 15px;
}