.container{
  position: relative;
}

.main-container {
  background-color: #33CCFE;
  height: 520px;
  width: 700px;
  border-radius: 15px;
}

.questionArea {
  background-color: yellow;
  width: 600px;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  left: 33px;
  text-align: center;
  font-size: 32px;
  line-height: 90px;
  word-wrap: break-word;
}

.startButton:hover {
  background-color: orange;
}

.startButton {
  text-align: center;
  line-height: 80px;
  background-color: violet;
  width: 350px;
  height: 50px;
  position: relative;
  left: 25px;
  bottom: 5px;
}

#wins {
  width: 100px;
  height: 50px;
  background-color: grey;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
}

#losses {
  width: 100px;
  height: 50px;
  background-color: grey;
  position: relative;
  left: 85px;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
}

.answerArea {
  color: white;
  position: relative;
  top: 5px;
  left: 147px;
  font-size: 24px;
}

.answerBlock:hover {
  background-color: orange;
}

.answerBlock {
  font: white;
  background-color: green;
  width: 400px;
  height: 50px;
  margin-bottom: 10px;
}
#chucmung{
  width: 100%;
  height: 100%;
  position: relative;
}
#header{
  position: relative;
}

.carousel{
  position: relative;
}
.div{
  position: relative;
}