.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 200px;
    height: 260px;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.card div {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card .front {
    /*padding-top: 100px;*/
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    border-radius: 10px;
    background: orange;
}
.card .back {
    /*padding-top: 100px;*/
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    border-radius: 10px;
    background: green;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.card #learnCard{
    background: #33CCFE;
    border-radius: 10px;
}
.continueButton{
    padding-top: 300px;
}
.content{
    margin: auto;
    width: 95%;
    height: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 65px;
    padding-right: 65px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 8px rgba(0,0,0,0.2);
}
