<!DOCTYPE html>
<html>

<head>
    <title>TinyCards -- Flash Cards by Duolingo</title>
    <link rel="shortcut icon" type="image/png" href="https://d17u0960v8a9bp.cloudfront.net/image/5c826d3d048819c3fc25ddaea0697433.png"
    />
    <link rel="stylesheet" href="/css/about.css">
    
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <script src="/bootstrap/jquery.min.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Phạm Ngọc Duy" />
    <meta charset="UTF-8" />
</head>

<body style="background-color: rgb(50, 205, 255);">
    <div id="main-container" class="container">
        <div id="logo">
            <a href="/">
                <img alt="TinyCards Logo" src="/imgs/logo.png" style="height: 44px;"/> </a>
        </div>
        <div id="round-container" style="background-color: white;">
            <ul id="duy-tab" class="nav nav-tabs" role="tablist">
                <li class="active duy-tab-item">
                    <a data-toggle="tab" id="duy-about" data-toggle="tab" class="normal-tab-item" href="#about-tab" role="tab" aria-controls="about-tab" aria-selected="true">About TinyCards</a>
                </li>
                <li class="duy-tab-item ">
                    <a data-toggle="tab" id="duy-press" data-toggle="tab" class="normal-tab-item" href="#press-tab" role="tab" aria-controls="press-tab" aria-selected="false">Press Kit</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="about-tab" class="tab-pane fade show active main-content">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <h1> TinyCards</h1>
                            <p>
                                Tinycards by Duolingo is a fun flashcard app that helps you memorize anything for free, forever. Our bite-sized lessons are
                                the best way to master anything from the Spanish language to the Periodic Table. Tinycards
                                understands how you learn and reminds you when your memory is about to fade, so you’ll never
                                forget a thing.
                            </p>
                        </div>
                        <div class="col-md-6 col-12">
                            <img class="img-fluid img-responsive center" src="imgs/about/tinycards.png" />
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6 col-12">
                            <h1> Duolingo</h1>
                            <p>
                                Duolingo is best known for its free, award-winning, science-based language education platform. With over 200 million users
                                across iOS, Android, Web and Windows Phone, Duolingo is the world’s most popular way to learn
                                a language online.
                                <br>
                                <a class="blue-link" href="/">Visit Duolingo</a>
                            </p>
                        </div>
                        <div class="col-md-6 col-12">
                            <img class="img-fluid img-responsive center" src="imgs/about/duolingo.png" />
                        </div>

                    </div>
                    <h1> Founder</h1>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <img src="/imgs/about/luis.png">
                            <h1> Phạm Ngọc Duy - Std</h1>
                            <p>
                                Phạm Ngọc Duy là một người đang sống ở trên hành tinh này. Anh ta đang học khoa Công Nghệ Thông Tin của trường Đại học Công
                                nghệ - Đại học Quốc gia Hà Nội. Anh ta đang làm bài tập lớp môn Công nghệ Phần mềm. Đây là
                                một trong các trang web mà anh ta đang thiết kế

                            </p>
                        </div>
                        <div class="col-md-6 col-12">
                            <img src="/imgs/about/severin.png">
                            <h1> Severin Hacker - CTO, Duolingo</h1>
                            <p>
                                Severin Hacker (yes, that’s his real name!) received a BS in Computer Science from ETH Zurich in 2006 and a PhD from Carnegie
                                Mellon University in 2014. He was named by MIT Technology Review as one of the world's top
                                35 innovators under the age of 35.
                            </p>
                        </div>

                    </div>
                    <h1>Invester</h1>
                    <div id="invester">
                        <a class="blue-link" href="#">Union Square Ventures</a>
                        <a class="blue-link" href="#">New Enterprise Associates</a>
                        <a class="blue-link" href="#">Kleiner Perkins Caufield & Byers</a>
                        <a class="blue-link" href="#">Google Capital</a>
                        <a class="blue-link" href="#">Drive Capital</a>
                        <a class="blue-link" href="#">Ashton Kutcher (actor)</a>
                        <a class="blue-link" href="#">Tim Ferriss (author)</a>
                    </div>

                </div>
                <div id="press-tab" class="tab-pane fade">
                    <div class="main-content">
                        <h1> Press Release</h1>
                        <a class="blue-link" href="#">Duolingo launches Tinycards, the future of flashcards</a>
                    </div>
                </div>
            </div>


            <div id="contact">
                <div id="contact-content" class="row">
                    <div class="col-md-3 col-sm-6 contact-item">
                        <img class="contact-icon" src="imgs/about/mail-icon.png">
                        <a class="contact-link" href="#">press@tiny.cards</a>
                    </div>
                    <div class="col-md-3 col-sm-6 contact-item">
                        <img class="contact-icon" src="imgs/about/twitter-icon.png">
                        <a class="contact-link" href="#">@phamngocduy98 </a>
                    </div>
                    <div class="col-md-3 col-sm-6 contact-item">
                        <img class="contact-icon" src="imgs/about/facebook-icon.png">
                        <a class="contact-link" href="#">/bautroixacorp</a>
                    </div>
                    <div class="col-md-3 col-sm-6 contact-item">
                        <img class="contact-icon" src="imgs/about/google-icon.png">
                        <a class="contact-link" href="#">/tinycards</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer text-center">
            <a href="/press" class="">About</a>
            <a href="#" class="">Support</a>
            <a href="#" class="">Term</a>
            <a href="#" class="">Duolingo</a>
            <a href="#" class="">Facebook</a>
            <a href="#" class="">Twitter</a>
            <div class="btn-group dropup">
                <a id="current-lang" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="./imgs/english.png"> ENGLISH
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div>
                        <a class="dropdown-item" id="language" href="#">
                            <img src="./imgs/english.png">TIẾNGVIỆT</a>
                    </div>
                    <div>
                        <a class="dropdown-item" id="language" href="#">
                            <img src="./imgs/english.png">Español</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
