/* This file completely made by Phạm Ngọc Duy */
@media (max-width: 700px){
    #main-container{
        text-align: center !important;
    }
    #duy-tab a{
        display: inline-block;
        padding: 30px 0 20px 10px;
        text-decoration: none;
        color: rgb(196,196,196);
    }
    #duy-tab {
        margin: 0 auto;
        text-align: center;
        display: inline-block;
    }
    #duy-tab #duy-about {
        margin: 0 70px -3px 0!important;
    }
    .main-content {
        padding: 60px 10px !important;
    }
    #contact-content {
        margin: 0 0 !important;
        border-top: 1px solid #e8e8e8
    }
    .footer {
        display: none !important;
    }
}

*{
    font-family: sans-serif;
    /*font-family: 'DINNextRoundedLTPro-Regular';*/
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none !important;
    color:  rgb(50, 205, 255);
    font-weight: bold;
}
img.center {
    display: block;
    margin: 0 auto;
}
.link {
    color:  rgb(50, 205, 255) !important;
    font-size: 12pt !important;
}
h1 {
    font-size: 12pt !important;
    margin-bottom: 15px !important;
    font-weight: bold !important;
}
p {
    line-height: 2em;
}
body{
    background-color: rgb(50, 205, 255) !important;;
}
#main-container {
    padding: 0;
}

#logo img {
    height: 44px;
}

#main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px 5px rgba(0,0,0,.08);
}
#duy-tab {
    border-bottom: #e8e8e8 1px solid;
}

#duy-tab a{
    display: inline-block;
    padding: 30px 0 20px 0;
    text-decoration: none;
    color: rgb(196,196,196);
}
#duy-tab #duy-about {
    margin: 0 70px -3px 80px;
}
#duy-tab-item {
    display: inline-block !important;
}
#duy-tab a{
    border: none;
    background: none;
}
#duy-tab .active a{
    color: rgb(50, 205, 255) !important;
    border-bottom: rgb(50, 205, 255) 4px solid;
}


.main-content {
    padding: 60px 80px;
}
.two-col {
    margin-bottom: 60px;
}

.two-col .left-col{
    display: block;
    float: left;
    width: 50%;
}
.two-col .right-col {
    display: block;
    float: right;
    width: 50%;
}
#tiny-text, #duo-text {
    position: relative;
}
#tiny-text img, #duo-text img{
    position: absolute;
    right:0px;    
}

.clear-float{
    clear: both;
}
#invester a {
    display: inline-block;
    margin: 30px 25px 0 0;
    color: rgb(50, 205, 255);
}

#contact {
    width: 100%;
    margin: 50px auto;
    text-align: center;
    
}
#contact-content {
    margin: 0 80px;
    border-top: 1px solid #e8e8e8
}

.contact-item{
    /* display: inline-block; */
    height: 3em;
    line-height: 3em;
    /* margin: 10px 20px; */
    text-align: center;
    /*position: relative;*/
}
.contact-item a {
    color: rgb(105, 109, 118);
}
/*
.contact-item img {
    position: absolute;
    top: 15px;
    left: 0px;
    right:0px;
    bottom: 0px;
}*/
.footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.footer-item{
    display: inline-block;
    height: 3em;
    line-height: 3em;
    margin: 10px 20px;
    text-align: center;
}
.footer-item a{
    color: rgb(31,152,191);
    text-transform: uppercase;
}
#current-lang{
    color: white !important;
    box-shadow: none;
    cursor: pointer;
}

.language{
    display: block;
    padding: 5px auto !important;
    text-align: center;
    margin: 20px 0 !important;
    color: black !important;
    /*color: rgb(196,196,196) !important;*/
}