/* Duy's REUSE-template */

    /* round container */
    #round-container {
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 20px 5px rgba(0,0,0,.08);
    }

    /* checkbox SWITCH*/
    input[type="checkbox"] {
        display:none;
    }
    input[type="checkbox"] + label .radio {
        position: relative;
        display:inline-block;
        width:44px;
        height:24px;
        border-radius: 15px;
        vertical-align:middle;
        background: #c4c4c4;
        cursor:pointer;
    }
    input[type="checkbox"]:checked + label .radio {
        background: #32cdff;
    }

    input[type="checkbox"] + label .radio__circle {
        margin: 0 2px;
        position: absolute;
        width:20px;
        height:20px;
        border-radius: 50%;
        background: white;
        top: 2px; /* height: (24-20)/2 */
        left: 0;
        transition:all 0.25s ease-in-out;
    }
    input[type="checkbox"]:checked + label .radio__circle {
        left: 20px /*width: (44-20)px - 2*margin(2px) */
    }
    /* card */
    .card {
        height: 200px;
        width: 170px !important;
        font-size: 27px;

        /*center text */
        text-align: center;
        vertical-align: middle;
        line-height: 200px;
    }

    /* Select list */
    select {
        border: none;
        color: #32cdff;
        font-weight: bold;
    }

/* Mod's bootstrap css*/
.nav-tabs .nav-link {
    border: none;
    border-width: 0 0 0 0 !important;

    padding: 25px 0px 10px 0px;
    /*margin-left: 32px;
    margin-right: 32px;*/
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #32cdff !important;
    background-color: transparent !important;
    border-bottom: 4px solid #32cdff !important;
}

